/*
** SELECTORS
*/

/* tagnames */
body {
  content: "Content";
}

/* classnames */

/* kebab-case */
.class {
  content: "Content";
}

.long-class {
  display: none;
}

/* CamelCase */
.Class {
  display: none;
}

.LongClass {
  display: none;
}

/* IDnames */
#id-selector {
  content: "Content";
}

/* Duplicates */
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: bold;
}

section {

  h1 {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2em;
}

/*
** DECLARATIONS
*/
.single-line { content: "Content"; }

.multi-line {
  display: block;
  content: "Content";
}



/*
** PROPERTIES // VALUES
*/
.block-component {
  display: block;
}

.inline-component {
  display: inline;
}

.inline-block-component {
  display: inline-block;
}

.flex-component {
  display: flex;
}

.absolute-positioned {
  position: absolute;

  &.position-left {
    left: 0;
  }

  &.position-right {
    right: 0;
  }
}

.property-list {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid #333;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: auto;
  height: auto;
  color: #fff;
  font-family: "Helvetica", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

/*
** WHITESPACE
*/

/* No whitespace between declarations */
.declaration-line {
  display: none;
}
.declaration-line-2 {
  display: none;
}

.declaration-line-3 { /* Whitespace between declarations */
  display: none;
}




.declaration-line-4 { /* Max 3 lines of whitespace between declarations */
  display: none;
}


/* Less and Sass */

/* Mixins */

/* Sass */
@mixin BorderRadius($radius) {
  border-radius: $radius;
}

/* Less */
.BorderRadius(@radius) {
  border-radius: @radius;
}
